@media screen and (max-width:576px){
    .orange{
        flex-direction: column;
    }
    .orange3{
        text-align: center;
    }
    .first{
        flex-direction: column;
        align-items: center;
    }
    .sixth{
        flex-direction: column;
        align-items: center;
    }
    .parent{
          margin: 10px;    

    }
    .place1{
        flex-direction: column;
    }
}